<nav class="mask">
  <a class="logo" (click)="goToWelcome()">
    <img src=".\assets\images\logo.png" alt="">
  </a>
  <ul class="list">
    <li *ngIf="isLoggedIn && !isAdmin"><a routerLink="/login">Favoritos</a></li>
    <li *ngIf="isLoggedIn && isAdmin"><a routerLink="/users">Usuarios</a></li>
    <li *ngIf="isLoggedIn && isAdmin"><a routerLink="/reviews">Reviews</a></li>
    <li><a routerLink="/places">Lugares</a></li>
    <li><a routerLink="/events">Eventos</a></li>
    <li><a href="#">Novedades</a></li>
    <li><a href="#">Contacto</a></li>
  </ul>
  <div class="search-box">
    <button class="btn-search"><i class="fas fa-search"></i></button>
    <input type="text" class="input-search" placeholder="Type to Search...">
  </div>
  <div *ngIf="!isLoggedIn" class="login-create">
    <a routerLink="/login">Iniciar sesión</a>
  </div>
  <div class="buttons-login">
    <span *ngIf="isLoggedIn" style="margin-right: 20px"><i class="fa-solid fa-user" style="margin-right: 10px"></i>{{ fullName }}</span>
    <button mat-button style="color: black;" *ngIf="isLoggedIn" (click)="logout()">Salir</button>
  </div>
</nav>
