<nav class="mask">
  <a class="logo">
    <img src=".\assets\images\logo.png" alt="">
  </a>
  <ul class="list">
    <li><a  routerLink="/login">Lugares</a></li>
    <li><a  routerLink="/login">Eventos</a></li>
    <li><a href="#">Novedades</a></li>
    <li><a href="#">Contacto</a></li>
  </ul>
  <div class="search-box">
    <button class="btn-search"><i class="fas fa-search"></i></button>
    <input type="text" class="input-search" placeholder="Type to Search...">
  </div>
  <div class="login-create">
    <a routerLink="/login">Iniciar sesión</a>
  </div>
</nav>
