<button class="btn btn-primary" style="width: 50px" routerLink="/places">
    <i class="fa-solid fa-backward" style="color: black"></i>
</button>
<div class="container">
    <div class="container-form">
        <h2>CREAR NUEVO LUGAR</h2>
        <div class="place-box">
            <mat-form-field>
                <mat-label>Dirección</mat-label>
                <input matInput>
            </mat-form-field>
        <div class="place-box">
            <mat-form-field>
                <mat-label>Provincia</mat-label>
                <input matInput>
            </mat-form-field>
        <div class="place-box">
            <mat-form-field>
                    <mat-label>Teléfono</mat-label>
                    <input matInput>
            </mat-form-field>
            <div class="place-box">
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput>
            </mat-form-field></div>
        </div>
        </div>
        </div>
        <div class="place-box">
            <mat-form-field>
                <mat-label>Nombre</mat-label>
                <input matInput>
            </mat-form-field>
            <div class="place-box">
                <mat-form-field>
                    <mat-label>Link</mat-label>
                    <input matInput>
                </mat-form-field>
                <div class="place-box">
                    <mat-form-field>
                        <mat-label>URL</mat-label>
                        <input matInput>
                    </mat-form-field>
                    <div class="place-box">
                    <mat-form-field>
                        <mat-label>Pertenece al Ministerio</mat-label>
                        <input matInput>
                    </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
        <div class="place-box">
            <mat-form-field>
                <mat-label>Tipo de lugar</mat-label>
                <mat-select>
                  <mat-option value="one">First option</mat-option>
                  <mat-option value="two">Second option</mat-option>
                </mat-select>
              </mat-form-field>
              <div class="place-box">
                <mat-form-field>
                    <mat-label>Nombre Autoridad</mat-label>
                    <input matInput>
                </mat-form-field>
                <div class="place-box">
                    <mat-form-field>
                        <mat-label>Email Autoridad</mat-label>
                        <input matInput>
                    </mat-form-field>
                    <div class="place-box">
                    <mat-form-field>
                        <mat-label>Cargo Autoridad</mat-label>
                        <input matInput>
                    </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
        <div class="place-box-description">
            <mat-form-field style="width: 600px;">
                <mat-label>Descipcion</mat-label>
                <textarea style="height: 100px;" matInput></textarea>
            </mat-form-field>
        </div>
    </div>
</div>
