/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.limit-text {
    white-space: pre-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 75ch;
}

.limit-text p:nth-child(1n + 2){
    display: none;
}
