<div class="container">
  <div id="image1" class="section">
    <div class="content">
      <h1>Museos</h1>
      <ul>
        <br>
        <li>Abierto los días sábados, domingos y feriados.</li>
        <li>Apertura 11:00, 13:00, 14:00 y 16:00. </li>
        <li>Recorrido programados 11:30, 14:30</li>
      </ul>
    </div>
    <div class="overlay"></div>
  </div>

  <div id="image2" class="section">
    <div class="content">
      <h1>Trámites</h1>
      <ul>
        <br>
        <li>Atención al publico de Lunes a viernes.</li>
        <li>Apertura 09:00 a 15:00. </li>
        <li>Reclamos: 011-4545-8083</li>
      </ul>
    </div>
    <div class="overlay"></div>
  </div>
  <div id="image3" class="section">
    <div class="content">
      <h1>Eventos</h1>
      <p>Dirección: Calle falsa 123</p>
      <p>Contacto: 0800-444-7777</p>
    </div>
    <div class="overlay"></div>
  </div>
 
</div>

<div class="content-card">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>
        <i class="fa fa-university icon-title" aria-hidden="true"></i>
      </mat-card-title>
      <mat-card-subtitle>
        <b>Museos</b>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p class="description-card">¡Explora el fascinante mundo de la cultura y la historia en nuestros renombrados museos!</p>
      <p class="description-card">Sumérgete en la riqueza de las artes, las ciencias y el patrimonio que nuestros museos tienen para ofrecer. Cada visita es una experiencia única llena de descubrimientos y emociones.</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>VER MÁS</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title><i class="fa fa-calendar icon-title" aria-hidden="true"></i></mat-card-title>
      <mat-card-subtitle><b>Eventos Próximos</b></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p class="description-card">¡Nuestros eventos están diseñados para deleitar tus sentidos!</p>
      <p class="description-card">Despertar tu imaginación y crear recuerdos duraderos. 
        Entretenimiento, aprendizaje, nuestros eventos te brindarán una experiencia única.</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>VER MÁS</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title><i class="fa fa-map-o icon-title" aria-hidden="true"></i></mat-card-title>
      <mat-card-subtitle>Destinos culturales</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p class="description-card">Explora un destino cultural.</p>
      <p class="description-card">Cada callejón, plaza y edificio cuenta una historia, y cada encuentro con los lugareños es una oportunidad para aprender y enriquecerte. Desde antiguos sitios arqueológicos hasta festivales folclóricos vibrantes</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>VER MÁS</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title><i class="fa fa-camera icon-title" aria-hidden="true"></i></mat-card-title>
      <mat-card-subtitle>Fotografías</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p class="description-card">Sumérgete en un paraíso fotográfico.</p>
      <p class="description-card">Nuestro destino es un lugar donde la belleza natural se une con la arquitectura icónica, con escenarios perfecto para cualquier amante de la fotografía.
        Desde paisajes impresionantes hasta calles adoquinadas llenas de encanto</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>VER MÁS</button>
    </mat-card-actions>
  </mat-card>
</div>

