.title {
    display: flex;
    justify-content: center;
}

.example-card {
    width: 16%;
    margin-top: 16px;
    margin-left: 16px;
    float: left;
  }

.row {margin: 0 -5px; width: 100%;}

.row:after {
    content: "";
    display: table;
    clear: both;
  }
  
.example-header-image {    
    background-size: cover;
}

.mat-mdc-button:not(:disabled) {
    color: #38B6FF;
}

.mdc-card__media:first-child {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    height: 144px;
}

.mat-mdc-card {
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    --mdc-elevated-card-container-color: #fff;
}

.limit-text {
    white-space: pre-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 75ch;
}

.limit-text p:nth-child(1n + 2){
    display: none;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    width: calc(20% - 200px);
}
/*
.mat-mdc-paginator {
    background: #ffffff;
    color: rgb(0 0 0 / 87%);
}

.mat-mdc-select-value {
    color: rgb(0 0 0 / 87%) !important;
}

.mat-mdc-paginator-icon {
    fill: rgb(0 0 0 / 54%);
}

.mdc-list-item--selected .mdc-list-item__primary-text, .mdc-list-item--activated .mdc-list-item__primary-text {
    color: #f44336;
}*/
/*"@angular/material/prebuilt-themes/purple-green.css",*/
/* https://static.vecteezy.com/system/resources/previews/009/951/833/non_2x/politician-or-government-building-cartoon-hand-drawn-illustration-as-a-place-for-sustained-economic-development-vector.jpg*/