<div class="row">
    <div class="title">
        <h1>Lugares</h1>
    </div>
    <div class="addButton">
        <button *ngIf="isAdmin" type="button" style="font-size: 14px; padding: 0.6rem 0.9rem" class="btn btn-primary btn-lg" routerLink="/addPlace">
            + Nuevo Lugar
        </button>
    </div>
</div>
<div class="row">
    <div *ngIf="places.length > 0" class="card-container" >
        <mat-card *ngFor="let place of places | slice:
        (paginator.pageIndex*paginator.pageSize):
        ((paginator.pageIndex+1)*paginator.pageSize)" class="example-card">
            <img mat-card-image src="https://img.freepik.com/vector-premium/edificio-museo-titulo-columnas-ilustracion-vectorial_560788-51.jpg" alt="">
            <mat-card-content>
                <h3>{{place.name}}</h3>
                <div class="limit-text" [innerHTML]="place.description | sanitizeHtml"></div>
            </mat-card-content>
            <div class="flex-fill"></div>
            <mat-card-actions>
                <button mat-button>VER MÁS</button>
                <button mat-icon-button aria-label="Example icon button with a delete icon">
                    <mat-icon>delete</mat-icon>
                </button>
                <button mat-icon-button disabled color="" aria-label="Example icon button with a heart icon">
                    <mat-icon>favorite</mat-icon>
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>
<mat-paginator #paginator [length]="totalItems" [pageSize]="pageSize" [pageIndex]="pageIndex" 
              [pageSizeOptions]="[5, 10, 25, 100]"
              (page)="onPageChange($event)"
              >
</mat-paginator>




