<div class="title">
    <h1>Lugares</h1>
  </div>
<div class="addButton">
    <button *ngIf="isAdmin" type="button" style="font-size: 14px; padding: 0.6rem 0.9rem" class="btn btn-primary btn-lg" routerLink="/addPlace">
        + Nuevo Lugar
    </button>
</div>
<div class="row">
    <div class="col-sm-6" *ngFor="let place of places">

    </div>
</div>
<div class="row">
    <div class="card-container">
        <mat-card class="example-card">
            <img mat-card-image src="https://img.freepik.com/vector-premium/edificio-museo-titulo-columnas-ilustracion-vectorial_560788-51.jpg" alt="">
            <mat-card-content>
                <div class="limit-text">
                    <p>El Complejo Hist&oacute;rico Cultural Manzana de las Luces depende del Ministerio de Cultura de la Naci&oacute;n.</p>
                \r\n<p>Fue creado en 1971 por el Decreto n&ordm; 4657/71 y ampliadas sus funciones por los decretos: 1185/73; 1454/74 y 1479/81. El decreto 108/2013 cambia su nombre de Comisi&oacute;n Nacional a Complejo Hist&oacute;rico Cultural Manzana de las Luces.</p>
                \r\n<p>Son sus objetivos la restauraci&oacute;n y conservaci&oacute;n de los edificios hist&oacute;ricos; la investigaci&oacute;n con relaci&oacute;n a instituciones, acontecimientos y personajes que desfilaron por la Manzana de las Luces; y la refuncionalizaci&oacute;n de los edificios a trav&eacute;s de la actividad cultural.</p>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>VER MÁS</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="example-card">
            <img mat-card-image src="https://img.freepik.com/vector-premium/edificio-museo-titulo-columnas-ilustracion-vectorial_560788-51.jpg" alt="">
            <mat-card-content>
                <div class="limit-text">
                    <p>El Complejo Hist&oacute;rico Cultural Manzana de las Luces depende del Ministerio de Cultura de la Naci&oacute;n.</p>
                \r\n<p>Fue creado en 1971 por el Decreto n&ordm; 4657/71 y ampliadas sus funciones por los decretos: 1185/73; 1454/74 y 1479/81. El decreto 108/2013 cambia su nombre de Comisi&oacute;n Nacional a Complejo Hist&oacute;rico Cultural Manzana de las Luces.</p>
                \r\n<p>Son sus objetivos la restauraci&oacute;n y conservaci&oacute;n de los edificios hist&oacute;ricos; la investigaci&oacute;n con relaci&oacute;n a instituciones, acontecimientos y personajes que desfilaron por la Manzana de las Luces; y la refuncionalizaci&oacute;n de los edificios a trav&eacute;s de la actividad cultural.</p>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>VER MÁS</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="example-card">
            <img mat-card-image src="https://img.freepik.com/vector-premium/edificio-museo-titulo-columnas-ilustracion-vectorial_560788-51.jpg" alt="">
            <mat-card-content>
                <div class="limit-text">
                    <p>El Complejo Hist&oacute;rico Cultural Manzana de las Luces depende del Ministerio de Cultura de la Naci&oacute;n.</p>
                \r\n<p>Fue creado en 1971 por el Decreto n&ordm; 4657/71 y ampliadas sus funciones por los decretos: 1185/73; 1454/74 y 1479/81. El decreto 108/2013 cambia su nombre de Comisi&oacute;n Nacional a Complejo Hist&oacute;rico Cultural Manzana de las Luces.</p>
                \r\n<p>Son sus objetivos la restauraci&oacute;n y conservaci&oacute;n de los edificios hist&oacute;ricos; la investigaci&oacute;n con relaci&oacute;n a instituciones, acontecimientos y personajes que desfilaron por la Manzana de las Luces; y la refuncionalizaci&oacute;n de los edificios a trav&eacute;s de la actividad cultural.</p>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>VER MÁS</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="example-card">
            <img mat-card-image src="https://img.freepik.com/vector-premium/edificio-museo-titulo-columnas-ilustracion-vectorial_560788-51.jpg" alt="">
            <mat-card-content>
                <div class="limit-text">
                    <p>El Complejo Hist&oacute;rico Cultural Manzana de las Luces depende del Ministerio de Cultura de la Naci&oacute;n.</p>
                \r\n<p>Fue creado en 1971 por el Decreto n&ordm; 4657/71 y ampliadas sus funciones por los decretos: 1185/73; 1454/74 y 1479/81. El decreto 108/2013 cambia su nombre de Comisi&oacute;n Nacional a Complejo Hist&oacute;rico Cultural Manzana de las Luces.</p>
                \r\n<p>Son sus objetivos la restauraci&oacute;n y conservaci&oacute;n de los edificios hist&oacute;ricos; la investigaci&oacute;n con relaci&oacute;n a instituciones, acontecimientos y personajes que desfilaron por la Manzana de las Luces; y la refuncionalizaci&oacute;n de los edificios a trav&eacute;s de la actividad cultural.</p>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>VER MÁS</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="example-card">
            <img mat-card-image src="https://img.freepik.com/vector-premium/edificio-museo-titulo-columnas-ilustracion-vectorial_560788-51.jpg" alt="">
            <mat-card-content>
                <div class="limit-text">
                    <p>El Complejo Hist&oacute;rico Cultural Manzana de las Luces depende del Ministerio de Cultura de la Naci&oacute;n.</p>
                \r\n<p>Fue creado en 1971 por el Decreto n&ordm; 4657/71 y ampliadas sus funciones por los decretos: 1185/73; 1454/74 y 1479/81. El decreto 108/2013 cambia su nombre de Comisi&oacute;n Nacional a Complejo Hist&oacute;rico Cultural Manzana de las Luces.</p>
                \r\n<p>Son sus objetivos la restauraci&oacute;n y conservaci&oacute;n de los edificios hist&oacute;ricos; la investigaci&oacute;n con relaci&oacute;n a instituciones, acontecimientos y personajes que desfilaron por la Manzana de las Luces; y la refuncionalizaci&oacute;n de los edificios a trav&eacute;s de la actividad cultural.</p>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>VER MÁS</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="example-card">
            <img mat-card-image src="https://img.freepik.com/vector-premium/edificio-museo-titulo-columnas-ilustracion-vectorial_560788-51.jpg" alt="">
            <mat-card-content>
                <div class="limit-text">
                    <p>El Complejo Hist&oacute;rico Cultural Manzana de las Luces depende del Ministerio de Cultura de la Naci&oacute;n.</p>
                \r\n<p>Fue creado en 1971 por el Decreto n&ordm; 4657/71 y ampliadas sus funciones por los decretos: 1185/73; 1454/74 y 1479/81. El decreto 108/2013 cambia su nombre de Comisi&oacute;n Nacional a Complejo Hist&oacute;rico Cultural Manzana de las Luces.</p>
                \r\n<p>Son sus objetivos la restauraci&oacute;n y conservaci&oacute;n de los edificios hist&oacute;ricos; la investigaci&oacute;n con relaci&oacute;n a instituciones, acontecimientos y personajes que desfilaron por la Manzana de las Luces; y la refuncionalizaci&oacute;n de los edificios a trav&eacute;s de la actividad cultural.</p>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>VER MÁS</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="example-card">
            <img mat-card-image src="https://img.freepik.com/vector-premium/edificio-museo-titulo-columnas-ilustracion-vectorial_560788-51.jpg" alt="">
            <mat-card-content>
                <div class="limit-text">
                    <p>El Complejo Hist&oacute;rico Cultural Manzana de las Luces depende del Ministerio de Cultura de la Naci&oacute;n.</p>
                \r\n<p>Fue creado en 1971 por el Decreto n&ordm; 4657/71 y ampliadas sus funciones por los decretos: 1185/73; 1454/74 y 1479/81. El decreto 108/2013 cambia su nombre de Comisi&oacute;n Nacional a Complejo Hist&oacute;rico Cultural Manzana de las Luces.</p>
                \r\n<p>Son sus objetivos la restauraci&oacute;n y conservaci&oacute;n de los edificios hist&oacute;ricos; la investigaci&oacute;n con relaci&oacute;n a instituciones, acontecimientos y personajes que desfilaron por la Manzana de las Luces; y la refuncionalizaci&oacute;n de los edificios a trav&eacute;s de la actividad cultural.</p>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>VER MÁS</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="example-card">
            <img mat-card-image src="https://img.freepik.com/vector-premium/edificio-museo-titulo-columnas-ilustracion-vectorial_560788-51.jpg" alt="">
            <mat-card-content>
                <div class="limit-text">
                    <p>El Complejo Hist&oacute;rico Cultural Manzana de las Luces depende del Ministerio de Cultura de la Naci&oacute;n.</p>
                \r\n<p>Fue creado en 1971 por el Decreto n&ordm; 4657/71 y ampliadas sus funciones por los decretos: 1185/73; 1454/74 y 1479/81. El decreto 108/2013 cambia su nombre de Comisi&oacute;n Nacional a Complejo Hist&oacute;rico Cultural Manzana de las Luces.</p>
                \r\n<p>Son sus objetivos la restauraci&oacute;n y conservaci&oacute;n de los edificios hist&oacute;ricos; la investigaci&oacute;n con relaci&oacute;n a instituciones, acontecimientos y personajes que desfilaron por la Manzana de las Luces; y la refuncionalizaci&oacute;n de los edificios a trav&eacute;s de la actividad cultural.</p>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>VER MÁS</button>
            </mat-card-actions>
        </mat-card>


        <mat-card class="example-card">
            <img mat-card-image src="https://img.freepik.com/vector-premium/edificio-museo-titulo-columnas-ilustracion-vectorial_560788-51.jpg" alt="">
            <mat-card-content>
                <div class="limit-text">
                    <p>El Complejo Hist&oacute;rico Cultural Manzana de las Luces depende del Ministerio de Cultura de la Naci&oacute;n.</p>
                \r\n<p>Fue creado en 1971 por el Decreto n&ordm; 4657/71 y ampliadas sus funciones por los decretos: 1185/73; 1454/74 y 1479/81. El decreto 108/2013 cambia su nombre de Comisi&oacute;n Nacional a Complejo Hist&oacute;rico Cultural Manzana de las Luces.</p>
                \r\n<p>Son sus objetivos la restauraci&oacute;n y conservaci&oacute;n de los edificios hist&oacute;ricos; la investigaci&oacute;n con relaci&oacute;n a instituciones, acontecimientos y personajes que desfilaron por la Manzana de las Luces; y la refuncionalizaci&oacute;n de los edificios a trav&eacute;s de la actividad cultural.</p>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>VER MÁS</button>
            </mat-card-actions>
        </mat-card>


        <mat-card class="example-card">
            <img mat-card-image src="https://img.freepik.com/vector-premium/edificio-museo-titulo-columnas-ilustracion-vectorial_560788-51.jpg" alt="">
            <mat-card-content>
                <div class="limit-text">
                    <p>El Complejo Hist&oacute;rico Cultural Manzana de las Luces depende del Ministerio de Cultura de la Naci&oacute;n.</p>
                \r\n<p>Fue creado en 1971 por el Decreto n&ordm; 4657/71 y ampliadas sus funciones por los decretos: 1185/73; 1454/74 y 1479/81. El decreto 108/2013 cambia su nombre de Comisi&oacute;n Nacional a Complejo Hist&oacute;rico Cultural Manzana de las Luces.</p>
                \r\n<p>Son sus objetivos la restauraci&oacute;n y conservaci&oacute;n de los edificios hist&oacute;ricos; la investigaci&oacute;n con relaci&oacute;n a instituciones, acontecimientos y personajes que desfilaron por la Manzana de las Luces; y la refuncionalizaci&oacute;n de los edificios a trav&eacute;s de la actividad cultural.</p>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>VER MÁS</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>
<mat-paginator #paginator [length]="length"
              [pageSize]="pageSize"
              [pageSizeOptions]="[5, 10, 25, 100]"
              (page)="pageEvent = $event">
</mat-paginator>




